node_modules
.next
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.local
.env.*.local
.handled
handyconnect-files.tar.gz
handyconnect-files.tar.gz.base64
handyconnect-files.tar.gz.base64.txt
handyconnect-pr.bundle
handyconnect-pr.bundle.base64
handyconnect-pr.bundle.base64.txt
handyconnect-pr.patch
handyconnect-pr.patch.base64
handyconnect-pr.patch.base64.txt
.DS_Store

